APP_NAME="Guised Up API"
APP_ENV=local
APP_KEY=base64:/y+ashwUoAmWFMaqSoe6QmFtacAvU5hKWoCaHiWseVM=
APP_DEBUG=true
APP_URL=http://localhost:8000

# For SQLite development (default zero-config):
DB_CONNECTION=sqlite

# For Neon PostgreSQL (Production & Vector search):
# DATABASE_URL=
# DATABASE_URL_WIPED=

ML_SERVICE_URL="http://127.0.0.1:8001"
OPENROUTER_API_KEY=""

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
CACHE_STORE=database
